<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @medio_de_pago.detalle %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_medio_de_pago_path(@medio_de_pago) %> |
<%= link_to t('scaffoldi18n.back'), medios_de_pago_path %>
