<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @rubro.detalle %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_rubro_path(@rubro) %> |
<%= link_to t('scaffoldi18n.back'), rubros_path %>
