<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @proveedor.detalle %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_proveedor_path(@proveedor) %> |
<%= link_to t('scaffoldi18n.back'), proveedores_path %>
