<h1><%=t("activerecord.models.canal_de_solicitud") %></h1>

<%= render 'form' %>

<%= link_to t('scaffoldi18n.show'), @canal_de_solicitud %>  |
<%= link_to t('scaffoldi18n.back'), canales_de_solicitud_path %>
