<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @canal_de_solicitud.detalle %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_canal_de_solicitud_path(@canal_de_solicitud) %> |
<%= link_to t('scaffoldi18n.back'), canales_de_solicitud_path %>
