<h1><%=t("activerecord.models.partida_contable") %></h1>

<%= render 'form' %>

<%= link_to t('scaffoldi18n.show'), @partida_contable %>  |
<%= link_to t('scaffoldi18n.back'), partidas_contable_path %>
