<p id="notice"><%= notice %></p>


<p>
  <b>Detalle:</b>
  <%= @motivo_de_baja_presupuestaria.detalle %>
</p>



<%= link_to t('scaffoldi18n.edit'), edit_motivo_de_baja_presupuestaria_path(@motivo_de_baja_presupuestaria) %> |
<%= link_to t('scaffoldi18n.back'), motivos_de_baja_presupuestaria_path %>
