<h1><%=t("activerecord.models.cotizacion_peso_dolar") %></h1>

<%= link_to "Cotización peso dolar histórico", cotizaciones_peso_dolar_historico_path %>

<%= render 'form' %>

<%= link_to "Página de inicio", home_path %>
