<h1><%=t("activerecord.models.producto_trabajo") %></h1>

<%= render 'form' %>

<%= link_to t('scaffoldi18n.show'), @producto_trabajo %>  |
<%= link_to t('scaffoldi18n.back'), productos_trabajos_path %>
